<!DOCTYPE html>
<html>
  <head>
    <title>Awesome App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" 
          href="https://bootswatch.com/4/slate/bootstrap.min.css">
  </head>
  <body class="text-center bg-dark text-light">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ inventory_hostname }}</h1>
        <p class="lead">Hello from {{ inventory_hostname }}.</p>
      </main>
    </div>
  </body>
</html>
