global_defs {
  router_id nginx_DH_passive
}

# Check if nginx is running
vrrp_script check_nginx {
  script "/bin/systemctl status nginx"
  interval 2
  weight 2
}

# Virtual interface
vrrp_instance VI_01 {
  state BACKUP
  interface eth1
  virtual_router_id {{ proxy_router_id }}
  priority {{ 101 - order }}
  advert_int 0.1

  virtual_ipaddress {
    {{ external_ip }}
  }

  track_script {
    check_nginx
  }
}
